@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="privacy__text">The main rule you should leave our favorite threats around your home and be a good each year </p>
